body {
	background-color: rgba(246, 244, 241, 0.555);
	font-family: 'PT Mono', monospace;
	display: flex;
	flex-direction: column;
}

body, html {
	height: 100%;
}

.wrapper {

	background-image: url("images/me2.jpg");
	height: 100%; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#bioPage{
	text-align: center;
	margin-top: 700px;
	padding-top: 50px;
	border: 2px solid black;
}

p {
	color: darkolivegreen;
}

a {
    color:black;
    cursor: pointer;
}

nav {
    display: flex;
    list-style-type: none;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border: 2px solid black;
}

#navLinks {
	align-items: center;
	list-style: none;
	display: flex;
}

li {
	color: gray;
	justify-content: center;
	margin-right: 10px;
	list-style: none;
}

#technologiesPage {
	padding-top: 20px;
	padding-bottom: 40px;
	border: 2px solid black;
}

#navToBio {
	background-color: rgba(246, 244, 241, 0.150);
}

#navToTechnologies {
	background-color: rgba(246, 244, 241, 0.150);
}

#navToProjects {
	background-color: rgba(246, 244, 241, 0.150);
	opacity: 20%;
}

.pic{
	max-width: 100px;
	height: auto;
}

#projectsPage {
	display: flex;
	justify-content: center;
	flex-direction: column;	
	border: 2px solid purple;
}

.projectCard0 {
	display: flex;
	flex-direction: column;	
	padding-bottom: 10px;
	border: 2px solid black;
}

.projectCard1 {
	display: flex;
	flex-direction: column;	
	padding-bottom: 10px;
	border: 2px solid black;
}

.projectCard2 {
	display: flex;
	flex-direction: column;	
	padding-bottom: 10px;
	border: 2px solid black;
}

#pic1 {
	justify-content: center;
	max-height: 100px;
	width:100px;

}

.flex {
	display:flex;
	justify-content: center;
	border: 2px solid orange;
}
#technologiesPage {
	text-align: center;
}  

@media (max-width: 450px) { 

	nav {
		display: flex;
		list-style-type: none;
		justify-content: space-evenly;
		flex-wrap: wrap;
		padding-bottom: 510px;
		border: 2px solid black;
	}

	#bioPage{
		border: 2px solid black;
		text-align: center;
	}
}