body {
	background-color: rgba(246, 244, 241, 0.555);
	font-family: 'PT Mono', monospace;
	display: flex;
	flex-direction: column;
}

body, html {
	height: 100%;
}

.wrapper {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center; */
	/* The image used */
	background-image: url("images/me2.jpg");
	/* Full height */
	height: 100%; 
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-block {

}

.fullPage {
	padding-top:400px;
}

p {
	color: darkolivegreen;
}

a {
    color:black;
    cursor: pointer;
}

nav {
    display: flex;
    list-style-type: none;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#navLinks {
	align-items: center;
	list-style: none;
	display: flex;
}

li {
	
	color: gray;
	justify-content: center;
	margin-right: 10px;
	list-style: none;
}

#bioPage{
	text-align: center;
	margin-top: 50px;
}

#navToBio {
	background-color: rgba(246, 244, 241, 0.150);
	border-radius: 30%;
}

#navToTechnologies {
	background-color: rgba(246, 244, 241, 0.150);
	border-radius: 60%;
}

#navToProjects {
	background-color: rgba(246, 244, 241, 0.150);
	border-bottom-right-radius: 30%;
	opacity: 20%;
}

.pic{
	max-width: 100px;
	height: auto;
	/* border: 1px solid lightslategrey; */
	/* border-bottom-left-radius: 20%;
	border-bottom-right-radius: 60%;
	border-top-left-radius: 2%;
	box-shadow: 5px 5px; */
}

.projectCard0 {
	padding-bottom: 10px;
	/* margin-bottom: 10px; */
}

.projectCard1 {
	padding-bottom: 10px;
	/* margin-bottom: 10px; */
}

.projectCard2 {
	padding-bottom: 10px;
	/* margin-bottom: 10px; */
}

#technologiesPage {
	text-align: center;
}  

a {
	list-style-type: none;
}