body {
    display: flex;
    flex-direction: column;

}



.wrapper {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

nav{
    
    display: flex;
    justify-content: space-between;
}

.name_h {
    
}

#navLinks{
    align-items: center;
    list-style: none;  
    display: flex;  
}

li{
    justify-content: center;
    margin-right: 10px;
    list-style: none;
   
}
#navToBio {
    
    background-color:antiquewhite;
}

#navToTechnologies{
    background-color:antiquewhite;
}
#navToProjects{
    background-color:antiquewhite;
}

.fullpage {

}

#bioPage {
    

}

bHtag {

}

pHtag{

}

h1 {
    
}

ph{
    
}

#technologiesPage {
    list-style: none;
}
ul {
    justify-content: 
    
}

